*body{
    margin: 0;    
    padding: 0px;
}

section{
    height:710px;
    border-color: black;
    border-radius: 10px;
}

.orange-highlight{
    color: orange;
}

.half-width {
    width: 40%;
    margin-right: 2.5%;
    padding: 2.5%;
    float: left;
}

.half-width img {
    width: 100%;
    margin-top: 51px;
}

.link_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

.link_button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.link_button:active {
    background-color: #004080;
    transform: scale(0.95);
}

.third-part h1{
    text-align: center;
}

.one-third-width {
    width: 25%;
    margin-right: 2.5%;
    padding: 2.5%;
    float: left;
}

.one-third-width img {
    width: 105%;

    margin: 36px 0px 0px 28px;
}
#middle-img-one {
    margin-top: 180px;
    padding: 0;
}

#middle-img-two {
    margin-top: 180px;
}

#first {
    text-align: center;
    margin-bottom: 5em;
}

.mid {
    text-align: center;
    margin: 3em;
}

#last {
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    margin: 78px 490px 0px 449px;
    background-color: mediumpurple;
    width: 40%;
    color: white;
}

footer{
    text-align: center;
    margin-bottom: 35px;
}
#unique{
    height: 650px;
    margin-top: 10rem;
}
